@page "/Budgets/{budgetId:int}/Accounts"

@inject NavigationManager NavigationManager
@inject DataManager DataManager

<h3>My Accounts for Budget: @DataManager.CurrentBudget!.BudgetName</h3>

<button class="btn btn-primary mb-2" @onclick="async () => await _AddAccountCollapse.ToggleAsync()">Add an Account</button>
<div class="row mb-6">
    <Collapse @ref=_AddAccountCollapse>
        <Card class="col-md-6">
            <CardBody >
                <NewAccount CollapseObj=_AddAccountCollapse _BudgetId="budgetId" />
            </CardBody>
        </Card>
    </Collapse>
</div>

@foreach(var account in DataManager.BudgetAccountsTransactionsDictionary![DataManager.CurrentBudget].Keys)
{
    <h5>@account.AccountName</h5>
    <h5>
        Current Balance: $@DataManager.BudgetAccountsTransactionsDictionary![DataManager.CurrentBudget][account].Sum(x =>
       {
           if (!x.IsCredit)
           {
               return x.TransactionValue * -1;
           }
           else
           {
               return x.TransactionValue;
           }
       })</h5>
    
    <button class="btn btn-primary" @onclick="() => NavigateToTransactions(account.AccountId)">View Transactions</button>
}

@code {
    [Parameter]
    public int budgetId { get; set; }

    private Collapse _AddAccountCollapse = default!;

    protected override void OnInitialized()
    {
        
    }

    private void NavigateToTransactions(int accountId)
    {
        NavigationManager.NavigateTo($"./Budgets/{budgetId}/Accounts/{accountId}/Transactions");
    }
}
