@page "/Budgets/{_BudgetId:int}"

@inject Popups Popups;

@using BlazorBootstrap
@using ITEC275__Budget_App_Final_Project__.Data
@using ITEC275__Budget_App_Final_Project__.Models;
@using ITEC275__Budget_App_Final_Project__.Components;

<h1>Budget Name: @_Budget.BudgetName.</h1>
<h2>Total Assets: $@_Accounts.Sum(x => x.TotalAssets)</h2>
<h2>Unassigned Assets: $@(_Accounts.Sum(x => x.TotalAssets) - _Sections.Sum(x => x.Value.Sum(y => y.AssignedBudget)))</h2>
<button class="btn btn-primary mb-2" @onclick=AddASection>Add a Section</button>
<div class="row mb-4">
    <Collapse @ref="collapse1">
        <Card class="col-md-4">
            <CardBody >
                <NewSection CollapseObj="collapse1" _BudgetId="_BudgetId"/>
            </CardBody>
        </Card>
    </Collapse>
</div>

<table class="table table-bordered">
    <tbody>
        @foreach (var Section in _Sections)
        {
            <tr>
                <th>
                    <h4>@Section.Key.SectionName, Total Assigned Budget: $@Section.Value.Sum(x => x.AssignedBudget)</h4>
                    <button class="btn btn-primary mb-2" @onclick=AddACategory>Add a Category</button>
                    <div class="row">
                        <div class="col-md-4">
                            <Collapse @ref="collapse2">
                                <Card>
                                    <CardBody>
                                        <NewCategory CollapseObj="collapse2" _Section="Section.Key" />
                                    </CardBody>
                                </Card>
                            </Collapse>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col" class="text-center"><h5>Category Name</h5></th>
                                <th scope="col" class="text-center"><h5>Budget Assigned</h5></th>
                                <th scope="col" class="text-center"><h5>Amount Left</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Section.Value)
                            {
                                <tr>
                                    <td class="text-center">@category.CategoryName</td>
                                    <td class="text-center fw-normal">
                                        <div>
                                            @*Currently assigned value*@
                                            <label>Currently Assigned: $@category.AssignedBudget</label>
                                            <button @onclick="() => AssignBudget(category.CategoryId)" class="btn btn-primary">Assign Budget</button>
                                            <Collapse @ref="assignBudgetCollapse">
                                                <Card>
                                                    <CardBody>
                                                        <AssignBudget CollapseObj="assignBudgetCollapse"  />
                                                    </CardBody>
                                                </Card>
                                            </Collapse>
                                        </div>
                                    </td>
                                    <td class="text-center fw-normal">@*Calculate how much is left of the budget after looking at transactions*@</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </th>
            </tr>
        }
    </tbody>
</table>




@code {
    [Parameter]
    public int _BudgetId { get; set; }

    public List<Account> _Accounts;

    private Collapse collapse1 = default!;

    private Collapse collapse2 = default!;

    private Collapse assignBudgetCollapse = default!;

    private Budget _Budget;

    private Dictionary<Section, List<Category>> _Sections = new();

    private decimal _UnassignedAssets = 0;

    protected override async Task OnInitializedAsync()
    {
        using(var context = new ApplicationDbContext())
        {
            _Budget = context.Budgets.FirstOrDefault(x => x.BudgetId == _BudgetId);

            _Accounts = context.Accounts.Where(x => x.BudgetId == _Budget.BudgetId).ToList();

            //_UnassignedAssets = (_Accounts.Sum(x => x.TotalAssets) - _Sections.Sum(x => x.Value.Sum(y => y.AssignedBudget)));

            List<Section> _BudgetSections = context.Sections.Where(x => x.BudgetId == _Budget.BudgetId).ToList();

            foreach(Section section in _BudgetSections)
            {
                List<Category> connectedCategories = context.Categories.Where(x => x.Section == section).ToList();

                _Sections.Add(section, connectedCategories);
            }
        }
    }

    private async void AssignBudget(int categoryId)
    {
        await assignBudgetCollapse.ToggleAsync();
    }

    private async void AddACategory()
    {
        await collapse2.ToggleAsync();
    }

    private async void AddASection()
    {
        await collapse1.ToggleAsync();
    }

    
}
