@page "/"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DataManager DataManager

<PageTitle>Home</PageTitle>

<h1>Hello @_FirstName, you're logged in!</h1>

<h3>Choose one of your existing budgets below, or create a new one:</h3>

<button class="btn btn-primary mb-4" @onclick=NewBudget>New Budget</button>

@* List all budgets *@
@foreach(Budget b in DataManager.BudgetAccountsTransactionsDictionary!.Keys)
{
    <div class="row">
        <div class="col-md-6 align-content-center">
            <h3><strong>@b.BudgetName</strong></h3>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" @onclick="() => ViewBudget(b.BudgetId)">View</button>
        </div>
    </div>
}


@code {
    private string _FirstName = "";

    private string _UserId = "";

    protected override void OnInitialized()
    {
        DataManager.AuthenticationStateProvider = AuthenticationStateProvider;

        DataManager.LoadAllData();

        _FirstName = DataManager.LoggedInUser!.FirstName!;
        _UserId = DataManager.LoggedInUser.Id;
    }

    private void NewBudget()
    {
        NavigationManager.NavigateTo($"./NewBudget", true);
    }

    private void ViewBudget(int budgetId)
    {
        NavigationManager.NavigateTo($"./Budgets/{budgetId}", true);    
    }
}

