@page "/"
@using System.Security.Claims;
@using ITEC275__Budget_App_Final_Project__.Data;

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Home</PageTitle>

<h1>Hello @_FirstName, you're logged in!</h1>

@* Show a layout of Tasks that are Unassigned, Not Started, In Progress or Complete *@

@code {
    private ClaimsPrincipal user;

    private string _FirstName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        using(var context = new ApplicationDbContext())
        {
            _FirstName = context.Users.FirstOrDefault(x => x.Email == user.Identity.Name).UserName;
        }
        
    }
}

