@page "/Budgets/Accounts/{accountId:int}/Transactions"

@inject DataManager DataManager

<h3>Transactions</h3>

<TransactionsTableData _Account="_Account" _AllTransactions="DataManager.BudgetAccountsTransactionsDictionary" />

<button Class="btn btn-primary" @onclick="async () => await _AddTransactionCollapse.ToggleAsync()">Add Transaction</button>
<Collapse class="col-md-12" @ref="_AddTransactionCollapse" OnHiding="() => UpdateState()">
    <Card>
        <CardBody>
            <AddTransaction CollapseObj="_AddTransactionCollapse" _AccountId="_Account!.AccountId" />
        </CardBody>
    </Card>
</Collapse>

@code {
    [Parameter]
    public int accountId { get; set; }

    public Account? _Account;

    private Collapse _AddTransactionCollapse = default!;

    protected override void OnInitialized()
    {
        _Account = DataManager.BudgetAccountsTransactionsDictionary![DataManager.CurrentBudget!].Keys.FirstOrDefault(x => x.AccountId == accountId);
    }

    private void UpdateState()
    {
        DataManager.OrderLists();
        StateHasChanged();
    }
}
