@page
@model ConfirmEmailModel
@using Microsoft.AspNetCore.Mvc.RazorPages

<link href="~/css/custom.css" rel="stylesheet" />     <!-- Custom Stylesheet -->

<h1>Confirm email</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<button class="btn btn-primary" onclick="location.href='/'">Return to HomePage</button>       <!--Javascript code-->

