@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">To Do App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="javascript:void(0)" @onclick="async () => await NavigateHome()" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Homepage
                    </NavLink>
                </div>
                @if (_ShowBudgetControls)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="javascript:void(0)" @onclick="async () => await NavigateToAccounts()" Match="NavLinkMatch.All">
                            <span class="oi oi-calculator" aria-hidden="true"></span> My Accounts
                        </NavLink>
                    </div>
                }
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="javascript:void(0)" @onclick="async () => await LogOut()" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> Log Out
                    </NavLink>
                </div>
            </Authorized>
         </AuthorizeView>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool _ShowBudgetControls = false;

    private int _BudgetId;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if(NavigationManager.Uri.Contains("Budget") && !NavigationManager.Uri.Contains("NewBudget"))
        {
            _ShowBudgetControls = true;
            int indexOfId = NavigationManager.Uri.IndexOf("Budgets/")+8;
            int indexOfEndId = NavigationManager.Uri.Substring(indexOfId).IndexOf("/");

            string temp = "";

            if (indexOfEndId == -1)
                _BudgetId = int.Parse(NavigationManager.Uri.Substring(indexOfId));
            else
                _BudgetId = int.Parse(NavigationManager.Uri.Substring(indexOfId, indexOfEndId));
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task LogOut()
    {
        NavigationManager.NavigateTo("/Logout", true);
    }

    private async Task NavigateHome()
    {
        NavigationManager.NavigateTo("/", true);
    }

    private async Task NavigateToAccounts()
    {
        NavigationManager.NavigateTo($"/Budgets/{_BudgetId}/Accounts", true);
    }
}
