@inject NavigationManager NavigationManager

<div id="newTransaction" class="row justify-content-around">
    <div class="row mb-2 justify-content-between">
        <label class="col-md-8">Transaction Date:</label>
        <input class="col-md-4" @bind-value=_NewTransaction.TransactionDate />
    </div>
    <div class="row mb-2 justify-content-between">
        <label class="col-md-8">Payee:</label>
        <input class="col-md-4" @bind-value=_NewTransaction.Payee />
    </div>
    <div class="row mb-2 justify-content-between">
        <label class="col-md-8">Category:</label>
        <select @bind=_NewTransaction.CategoryId>
            <option>Select a Value...</option>
            @foreach(Category category in _Categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
    </div>
    <div class="row mb-2 justify-content-between">
        <label class="col-md-8">Transaction Value:</label>
        <input class="col-md-4" @bind-value=_NewTransaction.TransactionValue /> 
    </div>
    <div class="row mb-2 justify-content-end">
        <button class="col-md-4 btn btn-primary" @onclick=AddNewTransaction>Add</button>
    </div>
</div>

@code {
    [Parameter]
    public Collapse CollapseObj { get; set; }

    [Parameter]
    public int _BudgetId { get; set; }

    [Parameter]
    public int _AccountId { get; set; }

    private List<Category> _Categories = new();

    private List<Section> _Sections = new();

    public Transaction _NewTransaction = new();

    protected override void OnInitialized()
    {
        _NewTransaction.TransactionDate = DateTime.Now;

        using (var context = new ApplicationDbContext())
        {
            _Sections = context.Sections.Where(x => x.BudgetId == _BudgetId).ToList();

            foreach (Section section in _Sections)
            {
                _Categories.AddRange(context.Categories.Where(x => x.SectionId == section.SectionId));
            }
        }
    }

    private void AddNewTransaction()
    {
        using(var context = new ApplicationDbContext())
        {
            _NewTransaction.AccountId = _AccountId;
            if(_NewTransaction.CategoryId != null)
            {
                if (_NewTransaction.IsCredit)
                    context.Categories.FirstOrDefault(x => x.CategoryId == _NewTransaction.CategoryId).AssignedBudget += _NewTransaction.TransactionValue;
                else
                    context.Categories.FirstOrDefault(x => x.CategoryId == _NewTransaction.CategoryId).AssignedBudget -= _NewTransaction.TransactionValue;
            }
            context.Transactions.Add(_NewTransaction);
            context.SaveChanges();
        }

        CollapseObj.ToggleAsync();
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

}