@inject NavigationManager NavigationManager
@inject DataManager DataManager

<div id="newTransaction" class="row justify-content-around">
    <div class="row mb-2 justify-content-between">
        <label class="col-md-4">Transaction Date:</label>
        <input class="col-md-4" @bind-value=_NewTransaction.TransactionDate />
    </div>
    <div class="row mb-2 justify-content-between">
        <label class="col-md-4">Payee:</label>
        <input class="col-md-4" @bind-value=_NewTransaction.Payee />
    </div>
    <div class="row mb-2 justify-content-between">
        <label class="col-md-4">Category:</label>
        <select class="col-md-4" style="height: 30px;" @bind=_NewTransaction.CategoryId>
            <option>Select a Value...</option>
            @foreach (List<Category> categoriesList in DataManager.BudgetSectionCategoriesDictionary![_CurrentBudget!].Values)
            {
                foreach(Category category in categoriesList)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            }
        </select>
    </div>
    <div class="row mb-2 justify-content-between">
        <label class="col-md-4">Transaction Value:</label>
        <input class="col-md-4" @bind-value=_NewTransaction.TransactionValue /> 
    </div>
    <div class="row mb-2 justify-content-end">
        <label class="col-md-2">Is Credit?</label>
        <div class="col-md-1"></div>
        <input @bind-value=isCredit class="col-md-1" type="checkbox" />
    </div>
    <div class="row mb-2 justify-content-end">
        <button class="col-md-4 btn btn-primary" @onclick=AddNewTransaction>Add</button>
    </div>
</div>

@code {
    [Parameter]
    public Collapse CollapseObj { get; set; }

    [Parameter]
    public int _AccountId { get; set; }

    [Parameter]
    public Budget _CurrentBudget { get; set; }

    private bool isCredit = false;

    public Transaction _NewTransaction = new();

    protected override void OnInitialized()
    {
        _NewTransaction.TransactionDate = DateTime.Now;
    }

    private void AddNewTransaction()
    {
        using(var context = new ApplicationDbContext())
        {
            _NewTransaction.AccountId = _AccountId;
            _NewTransaction.IsCredit = isCredit;

            if(_NewTransaction.CategoryId != null)
            {
                if (_NewTransaction.IsCredit)
                    context.Categories.FirstOrDefault(x => x.CategoryId == _NewTransaction.CategoryId)!.AssignedBudget += _NewTransaction.TransactionValue;
                else
                    context.Categories.FirstOrDefault(x => x.CategoryId == _NewTransaction.CategoryId)!.AssignedBudget -= _NewTransaction.TransactionValue;
            }

            context.Transactions.Add(_NewTransaction);
            context.SaveChanges();
        }

        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

}