@using BlazorBootstrap

@inject NavigationManager NavigationManager

<div id="newAssign" class="row justify-content-around">
    <label class="col-md-3 align-content-center">Assign Budget:</label>
    <input @bind-value=_NewBudgetAssign.AssignedBudget class="col-md-5" />
    <button class="col-md-2 btn btn-primary" @onclick=UpdateAssigned>Add</button>
</div>


@code {
    [Parameter]
    public Collapse CollapseObj { get; set; }

    [Parameter]
    public Section _Section { get; set; }

    private Category _NewBudgetAssign = new();

    private async void UpdateAssigned()
    {
        using (var context = new ApplicationDbContext())
        {
            _NewBudgetAssign.SectionId = _Section.SectionId;
            context.Categories.FirstOrDefault(x => x.CategoryId == _NewBudgetAssign.CategoryId).AssignedBudget = _NewBudgetAssign.AssignedBudget;
            context.SaveChanges();
            _NewBudgetAssign = new();
        }

        await CollapseObj.ToggleAsync();
    }

}