@using BlazorBootstrap

@inject NavigationManager NavigationManager
@inject DataManager DataManager

<div id="newCategory" class="row justify-content-around">
    <label class="col-md-3 align-content-center">Category Name:</label>
    <input @bind-value=_NewCategory.CategoryName class="col-md-5" />
    <button class="col-md-2 btn btn-primary" @onclick=AddACategory>Add</button>
</div>

@code {
    [Parameter]
    public Dictionary<Budget, Dictionary<Section, List<Category>>>? AllSections { get; set; }

    [Parameter]
    public EventCallback RefreshParentState { get; set; }

    [Parameter]
    public Collapse? CollapseObj { get; set; }

    [Parameter]
    public Section? _Section { get; set; }

    private Category _NewCategory = new();

    private void AddACategory()
    {
        using(var context = new ApplicationDbContext())
        {
            _NewCategory.SectionId = _Section!.SectionId;
            context.Categories.Add(_NewCategory);
            context.SaveChanges();

            Category newCategory = context.Categories.FirstOrDefault(x => x.CategoryId == _NewCategory.CategoryId)!;

            AllSections![DataManager.CurrentBudget!][_Section].Add(newCategory);
            DataManager.CategoryCollapseDictionary!.Add(newCategory, new());

            DataManager.OrderLists();
        }
        _NewCategory = new();

        CollapseObj!.ToggleAsync();

        RefreshParentState.InvokeAsync();
    }
}