@using BlazorBootstrap

@inject NavigationManager NavigationManager

<div id="newSection" class="row justify-content-around">
    <label class="col-md-3 align-content-center">Category Name:</label>
    <input @bind-value=_NewCategory.CategoryName class="col-md-5" />
    <button class="col-md-2 btn btn-primary" @onclick=AddACategory>Add</button>
</div>


@code {
    [Parameter]
    public Collapse CollapseObj { get; set; }

    [Parameter]
    public Section _Section { get; set; }

    [Parameter]
    public Dictionary<Section, List<Category>> _SectionCategoryList { get; set; }

    [Parameter]
    public Dictionary<Category, Collapse> _CategoryCollapse { get; set; }

    private Category _NewCategory = new();

    private void AddACategory()
    {
        using(var context = new ApplicationDbContext())
        {
            _NewCategory.SectionId = _Section.SectionId;
            context.Categories.Add(_NewCategory);
            context.SaveChanges();

            _SectionCategoryList[_Section].Add(_NewCategory);
            Collapse newCollapse = default!;
            _CategoryCollapse.Add(_NewCategory, newCollapse);

            OrderLists();
        }
        _NewCategory = new();

        CollapseObj.ToggleAsync();
    }

    private void OrderLists()
    {
        _SectionCategoryList = _SectionCategoryList.OrderBy(x => x.Key.SectionName).ToDictionary(kv => kv.Key, kv => kv.Value);
        foreach (var key in _SectionCategoryList)
        {
            var orderedCategories = key.Value.OrderBy(x => x.CategoryName).ToList();
            key.Value.Clear();
            key.Value.AddRange(orderedCategories);
        }
    }

}