@using BlazorBootstrap

@inject NavigationManager NavigationManager
@inject DataManager DataManager

<div id="newSection" class="row justify-content-around">
    <label class="col-md-3 align-content-center">Section Name:</label>
    <input @bind-value=_NewSection.SectionName class="col-md-5" />
    <button class="col-md-2 btn btn-primary" @onclick=AddASection>Add</button>
</div>

@code {
    [Parameter]
    public Collapse? CollapseObj { get; set; }

    [Parameter]
    public Budget? _Budget { get; set; }

    private Section _NewSection = new();

    private void AddASection()
    {
        using(var context = new ApplicationDbContext())
        {
            _NewSection.BudgetId = _Budget.BudgetId;
            context.Sections.Add(_NewSection);
            DataManager.BudgetSectionCategoriesDictionary![_Budget].Add(_NewSection, new());

            context.SaveChanges();

            Collapse newCollapse = default!;

            DataManager.SectionCollapseDictionary!.Add(_NewSection, newCollapse);
        }
        _NewSection = new();

        DataManager.OrderLists();

        CollapseObj!.ToggleAsync();
    }
}