@using BlazorBootstrap

@inject NavigationManager NavigationManager

<div id="newSection" class="row justify-content-around">
    <label class="col-md-3 align-content-center">Section Name:</label>
    <input @bind-value=_NewSection.SectionName class="col-md-5" />
    <button class="col-md-2 btn btn-primary" @onclick=AddASection>Add</button>
</div>


@code {
    [Parameter]
    public Collapse CollapseObj { get; set; }

    [Parameter]
    public int _BudgetId { get; set; }

    [Parameter]
    public Dictionary<Section, List<Category>> _SectionsDictionary { get; set; }

    [Parameter]
    public Dictionary<Section, Collapse> _SectionCategoryCollapseDictionary { get; set; }

    private Section _NewSection = new();

    private void AddASection()
    {
        using(var context = new ApplicationDbContext())
        {
            _NewSection.BudgetId = _BudgetId;
            context.Sections.Add(_NewSection);
            _SectionsDictionary.Add(_NewSection, new());

            context.SaveChanges();

            Collapse newCollapse = default!;
            _SectionCategoryCollapseDictionary.Add(_NewSection, newCollapse);
        }
        _NewSection = new();

        OrderLists();

        CollapseObj.ToggleAsync();
    }

    private void OrderLists()
    {
        _SectionsDictionary = _SectionsDictionary.OrderBy(x => x.Key.SectionName).ToDictionary(kv => kv.Key, kv => kv.Value);
        foreach (var key in _SectionsDictionary)
        {
            var orderedCategories = key.Value.OrderBy(x => x.CategoryName);
            key.Value.Clear();
            key.Value.AddRange(orderedCategories);
        }
    }
}