@using BlazorBootstrap

@inject NavigationManager NavigationManager
@inject DataManager DataManager

<div id="newSection" class="row justify-content-around">
    <label class="col-md-3 align-content-center">Section Name:</label>
    <input @bind-value=_NewSection.SectionName class="col-md-5" />
    <button class="col-md-2 btn btn-primary" @onclick=AddASection>Add</button>
</div>

@code {
    [Parameter]
    public Collapse? CollapseObj { get; set; }

    private Section _NewSection = new();

    private void AddASection()
    {
        using(var context = new ApplicationDbContext())
        {
            _NewSection.BudgetId = DataManager.CurrentBudget!.BudgetId;
            context.Sections.Add(_NewSection);
            context.SaveChanges();

            Section newSection = context.Sections.FirstOrDefault(x => x.SectionId == _NewSection.SectionId)!;

            DataManager.BudgetSectionCategoriesDictionary![DataManager.CurrentBudget!].Add(newSection, new());
            DataManager.SectionCollapseDictionary!.Add(newSection, new());

            DataManager.OrderLists();
        }
        _NewSection = new();

        CollapseObj!.ToggleAsync();
    }
}