@inject DataManager DataManager


@foreach (var Section in DataManager.BudgetSectionCategoriesDictionary![DataManager.CurrentBudget!])
{
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>
                    <div class="row mb-1 align-content-center justify-content-between">
                        <h4 class="col-md-6 m-0 align-content-center ms-1">@Section.Key.SectionName, Total Assigned Budget: $@Section.Value.Sum(x => x.AssignedBudget)</h4>
                        <div class="col-md-6 row justify-content-end">
                            <button class="btn btn-primary col-md-1 m-1 ms-3" style="width: 100px;" @onclick="async () => await DataManager.SectionCollapseDictionary![Section.Key].ToggleAsync()">Add</button>
                            <button class="btn btn-danger col-md-1 m-1 me-3" style="width: 100px;" @onclick="() => DeleteSection(Section.Key)">Delete</button>
                        </div>
                        
                    </div>
                    <div class="row">
                        <Collapse @ref=DataManager.SectionCollapseDictionary![Section.Key] OnHiding="() => UpdateState()">
                            <Card class="col-md-9">
                                <CardBody>
                                    <NewCategory CollapseObj="DataManager.SectionCollapseDictionary![Section.Key]" _Section="Section.Key" />
                                </CardBody>
                            </Card>
                        </Collapse>
                    </div>

                    <CategoriesTableData _CategoryList="Section.Value" _Section="Section.Key" />
                </th>
            </tr>
        </tbody>
    </table>

}
  
@code {
    private void DeleteSection(Section section)
    {
        using (var context = new ApplicationDbContext())
        {
            foreach (Category cat in context.Categories.Where(x => x.SectionId == section.SectionId))
            {
                DataManager.CategoryCollapseDictionary!.Remove(cat);
            }

            context.Categories.RemoveRange(context.Categories.Where(x => x.SectionId == section.SectionId));

            DataManager.BudgetSectionCategoriesDictionary![DataManager.CurrentBudget!].Remove(section);
            DataManager.SectionCollapseDictionary!.Remove(section);
            context.Sections.Remove(section);

            context.SaveChanges();
        }
        StateHasChanged();
    }

    private void UpdateState()
    {
        DataManager.OrderLists();
        StateHasChanged();
    }
}
